<h1> Hello <%= @first_name %></h1>

<%= link_to :new_budget, class: "btn-primary w-full" do %>
    Create New Budget
<% end %> 
</br>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
