<h1>Hello <%= @first_name %></h1>
<h3>Bellow are a list of your budgets</h3>
<p style="color: green"><%= notice %></p>

<div id="budgets">
  <% @budgets.each do |budget| %>
    <p>
      <%= link_to "Budget Start Date: #{budget.start_date}", budget %>
    </p>
  <% end %>
</div>

<%= link_to "New budget", new_budget_path %>
